<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Welcome {% endblock %}. </title>
        {% block stylesheets %}
            <link href="{{ asset('css/normalizar.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('css/comun.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('show_entries') }}">Home</a></li>
                    <li><a href="#">New entry</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </header>

        <article>
        {% block content %}{% endblock %}
    </article>

    <footer>
        <a href="mailto:jonathan.heras@unirioja.es">Contact</a>
    </footer>

</body>
</html>
